<div class="post">
    <div class="header">
        <h1>Post Title</h1>
        <button routerLink="/" class="btn btn-link">to Main page</button>
    </div>

    <div class="info">
        <strong>author </strong>
        <small>01.10.2022</small>
    </div>

    <div>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam aliquid excepturi optio, odio fuga atque ea eum vel facere animi debitis eligendi totam, consequuntur nulla. Quaerat, doloribus in quis necessitatibus exercitationem odit a sequi rem esse non reiciendis unde, ducimus officia? Voluptatem corrupti repellat esse ullam maiores facere reiciendis!</p>
    </div>
</div>
