<!-- <div *ngIf="post$ | async as post; else loading"> -->
<div *ngIf="post$ | async as post"  >
    <div class="post">
        <div class="header">
            <h1>{{ post.title }}</h1>
            <button routerLink="/" class="btn btn-link">to Main page</button>
        </div>
    
        <div class="info">
            <strong>{{ post.author }}</strong>
            <!-- <small>{{ post.date | date: 'long': null:'ru' }}</small> -->
            <small>{{ post.date | date: 'medium': 'ru' }}</small>
        </div>
    
        <div>
           <p>Lorem ipses facere reiciendis!</p>
           <!-- <quill-view-html [content]="post.text"></quill-view-html> -->
           <!-- <quill-view-html ></quill-view-html>  not working-->
        </div>
    </div>
</div>


<!-- <ang-template #loading>
    <p class="text-center">Loading a post...</p>
</ang-template> -->