<div class="card">
    <div class="card-header">
        <!-- <h2>Post title</h2> -->
        <h2>{{ post.title }}</h2>

        <!-- <small>01.09.2022</small> -->
        <small>{{ post.date | date:'dd.MM.yyyy'}}</small>
    </div>

    <div>
        <!-- <small>Hennadii</small> -->
        <small>{{ post.author }}</small>
    </div>

    <!-- <button 
    [routerLink]="['/post', 12312]"
    class="btn btn-dark">Open</button> -->

    <button 
    [routerLink]="['/post', post.id]"
    class="btn btn-dark">Open</button>
</div>
